{% extends "orders/base.html" %}

{% block title %}
    Index
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
      Hi {{ user.username }}!
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <h1>Menu</h1>
        <h4>Pizzas<h4>
        <ul>
        {% for pizza in Pizza %}
            <li>{{ pizza }}</li>
        {% endfor %}
        </ul>
      <hr>
        <h4>Subs</h4>
        <ul>
        {% for sub in Sub %}
            <li>{{ sub }}</li>
        {% endfor %}
      </ul>
      <a href="{% url 'place_order' %}">place order</a>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}

{% endblock %}
