{% extends "orders/base.html" %}

{% block title %}
    Index
{% endblock %}

{% block body %}
    <!-- <h1>Index</h1>

    Index

    <hr> -->
    <h1>Orders</h1>

    {% for order in orders %}
        <li>
            <a href="{% url 'order' order.id %}">
                Order #{{ order.id }} {{ order }}
            </a>
        </li>
    {% endfor %}

{% endblock %}

<!-- {% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Orders</title>
        <link rel="stylesheet" href="{% static 'orders/styles.css' %}"/>
    </head>
    <body>
        Orders
</html> -->
